<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elasticsearch.engine.demo.domain.mysql.mapper.PersonExtendMapper">
    <insert id="insertList">
        insert into person_extend (person_no, mail, hobby, create_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.personNo}, #{item.mail}, #{item.hobby}, now())
        </foreach>
    </insert>
</mapper>